@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #141516;
}
main {
    /* background-image: linear-gradient(to left bottom, #002dff, #6800b7, #6b0079, #570048, #380224, #380224, #380224, #380224, #570048, #6b0079, #6800b7, #002dff); */
    background-image: radial-gradient(circle, #141516, #27292b, #3c3f42, #53565a, #6a6e74, #6a6e74, #6a6e74, #6a6e74, #53565a, #3c3f42, #27292b, #141516);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* Herramientas */
.colorFondo {
 background-color: #1ccf61;
}
.logo {
    width: 100px !important;
    height: auto;
    background-color: grey;
   }
/* Header */
header.Header {
    background-color: #6a6e74 !important;
}
.Header__Nav__Div__Button__Div{
    display: flex;
}
.Header__Nav__Div__Button__Div__Ul {
    font-size: 1.5rem;
    justify-content: space-between;
}
.Header__Nav__Div__Button__Div__Ul__Div__Li__Galeria__A {
    color: black;
    border-left:  black solid;
}
.Header__Nav__Div__Button__Div__Ul__Div__Li__Contacto__A {
    color: black;
    border-left:  black solid;
}
.Header__Nav__Div__Button__Div__Ul__Div__Li__SobreMaxInk__A{
    color: black;
    border-left:  black solid;
}
.Header__Nav__Div__Button__Div__Ul__Div__Li__Cuidados__A{
    color: black;
    border-left:  black solid;
}

/*Index*/

.Main__Section__1 {
    height: 80vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}
.Main__Section__1__h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
    flex-wrap: wrap;
}
.Main__Section__1__Div {
display: flex;
justify-content: center;
align-items: center;
justify-content:space-evenly;
flex-wrap:wrap
}

.Main__Section__1__Div__P {
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.226);
    border: solid black;
    padding: 1%;
}
.Main__Section__1__Div__img {
    width: 25%;
}
.Main__Section__2 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
   
}
.Main__Section__2__H2 {
    font-size: 3rem;
    text-align: center;
    top: 30px;
    color: white;
}
.Main__Section__2__Div {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Main__Section__2__Div__img1 {
    width: 13%;
 
}
.Main__Section__2__Div__P {
    color: white;
    text-align: center;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.226);
    font-size: 1.5rem;
    border: solid black;
    padding: 1%;
}

.Main__Section__2__Div__img2{ 
    width: 18%;
}
/* Galeria */
/* Contacto */

.Co__Main{
    display: flex;
    text-align: center;
    color: white;
    height: 100vh;
    justify-content: center;
}

.Co__Main__Section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
}
.Co__Main__Section__Form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.Co__Main__Section__P{
    font-size: 1.5rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.226);
    border: solid black;
    padding: 1%;
}
/* Sobre Max-Ink */
.SM__Main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.SM__Main__H1{
    color: white;
}
.SM__Main__Section1_H2 {
    color:white;
}
.SM__Div__Section1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.SM__Main__Section1__P{
font-size: 1.5rem;
    text-align: center;
    width: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.226);
    border: solid black;
    padding: 1%;
}
.SM__Main__Section2_H2 {
    color:white;
}
.SM__Div__Section2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.SM__Main__Section2__P{
font-size: 1.5rem;
    text-align: center;
    width: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.226);
    border: solid black;
    padding: 1%;
}
.SM__Main__Section3_H2 {
    color:white;
}
.SM__Div__Section3 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.SM__Main__Section3__P{
font-size: 1.5rem;
    text-align: center;
    width: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.226);
    border: solid black;
    padding: 1%;
}
/* Cuidados */
.Cu__Main{
    height: 65vh;
    text-align: center;
}

.Cu__Main__Section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.Cu__Main__Section__H1 {
    color: white;
}

.Cu__Main__Section__Div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Cu__Main__Section__Div__img1{
width: 20%;
}
.Cu__Main__Section__Div__P {
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.226);
    border: solid black;
    padding: 1%;
}
.Cu__Main__Section__Div__img2{
    width: 20%;
}
/* Footer */
.iconoInstagram{
    color: rgb(224, 11, 136);
    text-decoration: none;
} 
.iconoYoutube {
    color: red;
    text-decoration: none;

}
.iconoTiktok { color: black;
    text-decoration: none;

}
.iconoMail { color: rgb(0, 0, 0);
    text-decoration: none;

}
.iconoWhatsapp {color: green;
    text-decoration: none;

}
.iconoFacebook {
    color: blue;
    text-decoration: none;
}
.iconoLinkedin {
    color: rgb(11, 77, 99);
    text-decoration: none;
}